extends layout

block content
    //h1= title
    //p Welcome to #{title}, this is our test site little test test again!!
    //p Home

    #post-list
        for post in postArray
            include ./post.jade
    .spinner
        .bounce1
        .bounce2
        .bounce3



