extends layout

block content
    #signup-div
        h1#signup-title= title
        //p Welcome to #{title}, this is our test site little test test again!!
        p Signup in 15 sec.

        form#signin-form(action="/signup", method="POST")
            input#input-username(type="text", placeHolder="UserName", name="username")
            input#input-user-email(type="text", placeHolder="Email", name="email")
            input#input-user-password(type="password", placeHolder="Password", name="password")
            button#button-submit(type="submit") Sign Up

        p Already have a account 
            a#login-link(href="/signin") SignIn.


