extends layout

block content
  h1= title
  p Join now, become a #{title}
  form#formAddUser(name="adduser", method="post", action="/adduser")
    input#input-username(type="text", placeHolder="username", name="username")
    input#input-user-email(type="text", placeHolder="useremail", name="useremail")
    button#button-submit(type="submit") Submit
