extends layout

block content
    h1= title
    p Welcome to #{title}, this is our test site little test test again!!

    form#signInForm(action="/signin", method="POST")
        input#inputUserName(type="text", placeHolder="UserName", name="username")
        input#inputUserPassword(type="password", placeHolder="Password", name="password")
        button#buttonSubmit(type="submit") Sign Up


